/*
-------------------------------------------------------------------------------------
  General
------------------------------------------------------------------------------------- */

body {
  @include mq(0px){
    @include showgrid;
  }
  @include mq(800px) {
    background: #333;
    @include showgrid();
    color: $columns_total;
  }
}

/*
-------------------------------------------------------------------------------------
  Typography
------------------------------------------------------------------------------------- */

/*
-------------------------------------------------------------------------------------
  Repeating elements
------------------------------------------------------------------------------------- */

/* - Header ------------------------------------------------------------------------- */

#nav {
  @include mq(0px) {

  }
}

#nav.opened {
  @include mq(0px) {
    max-height: 9999px;
  }
}

#nav ul {
  @include mq(0px) {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    list-style: none;
  }
}

#nav li {
  @include mq(0px) {
    width: 100%;
    display: block;
  }
}

.js #nav {
  @include mq(0px) {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden;
    zoom: 1;
  }
  @include mq(500px) {
    position: relative;
    max-height: none;
  }
}

#nav-toggle {
  @include mq(500px) {
    display: none;
  }
}


/* - Footer ------------------------------------------------------------------------- */

/*
-------------------------------------------------------------------------------------
  Homepage
------------------------------------------------------------------------------------- */

/*
-------------------------------------------------------------------------------------
  About
------------------------------------------------------------------------------------- */

/*
-------------------------------------------------------------------------------------
  Contact
------------------------------------------------------------------------------------- */