@import "_mixins";
@import "_base";

$width: 0px;
@import "master";

$width: 500px;
@media screen and (min-width: $width) {
	@import "master";
}

$width: 800px;
@media screen and (min-width: $width) {
	@import "master";
}